/* ==========================================================================
   général
 ========================================================================== */
h3, p {
    color: grey;
    font-weight: bold;
}

 /* ==========================================================================
    header
  ========================================================================== */
header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-image: url(../img/panoterrasse2-2.jpg);
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 550px;
}
#txtbienvenue {
    color: white;
}
#logorbnb {
    height: 40px;
}
.page-scroll {
  color: white;
}
.header-content, .search {
  padding: 80px 0;
  color: white;
}
#mode {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.1);;
  color: white;
}
/* ==========================================================================
   sections
 ========================================================================== */
section {
    background-color: #EDEFED;
}

/* ==========================================================================
   Partie Accueillir un voyageur
 ========================================================================== */

.voyageur {
  padding-top: 20px;
}
#titrehote {
  padding-bottom: 20px;
  font-weight: bold;
}
#argent {
  padding-bottom: 20px;
}
.revenus {
  padding-top: 20px;
  text-align: center;
  background-color: white;
  padding-bottom: 35%;
  margin-top: 5%;
}

/*Partie Voir les destinations*/
/*positionnement du bouton voir les destinations*/
#destinations {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*footer*/
/*positionnement footer et image de fond*/
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../img/footer.jpg);
}

/*couleur de texte des listes*/
.list-unstyled {
  color: white;
}

/*couleur de texte des titres des listes du footer*/
.titrefooter {
  color: white;
}
#checkin {
  margin-left: -30px;
}
#checkout {
  margin-left: -60px;
}
#guest {
  margin-left: -130px;
}
#rechercher {
  margin-left: -150px;
}

/*Modification des logos réseaux sociaux*/
#twitter, #facebook, #google {
  border-radius: 10px;
  background-color: white;
  width: 70px;
}
